<a href="https://colab.research.google.com/github/shrinivas-rudrawar/Python_practice/blob/shrinivas/Assignment_Solution_Pandas_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u> Use only those concepts which have been taught till now </u>

# <b> Problem 1: Import Pandas and Numpy in the notebook </b>

In [ ]:
# Import statements
import pandas as pd
import numpy as np

# <b> Problem 2 : Load the automobile_data.csv kept in the shared folder

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Mount your drive and read the csv file. Make sure you are using the correct file path
df=pd.read_csv('/content/drive/MyDrive/AlmaBetter/Cohort Aravali/Module 1/Week 3/Day 4/dat/automobile_data.csv')

In [ ]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

# <b> Problem 3 : Do a basic inspection and print the first and last 15 rows of your dataframe

In [ ]:
# Your code here
df.head(15)

    symboling normalized-losses         make  ... city-mpg highway-mpg  price
0           3                 ?  alfa-romero  ...       21          27  13495
1           3                 ?  alfa-romero  ...       21          27  16500
2           1                 ?  alfa-romero  ...       19          26  16500
3           2               164         audi  ...       24          30  13950
4           2               164         audi  ...       18          22  17450
5           2                 ?         audi  ...       19          25  15250
6           1               158         audi  ...       19          25  17710
7           1                 ?         audi  ...       19          25  18920
8           1               158         audi  ...       17          20  23875
9           0                 ?         audi  ...       16          22      ?
10          2               192          bmw  ...       23          29  16430
11          0               192          bmw  ...       23          29  16925
12          0               188          bmw  ...       21          28  20970
13          0               188          bmw  ...       21          28  21105
14          1                 ?          bmw  ...       20          25  24565

[15 rows x 26 columns]

In [ ]:
df.tail(15)

     symboling normalized-losses        make  ... city-mpg highway-mpg  price
190          3               256  volkswagen  ...       24          29   9980
191          0                 ?  volkswagen  ...       19          24  13295
192          0                 ?  volkswagen  ...       33          38  13845
193          0                 ?  volkswagen  ...       25          31  12290
194         -2               103       volvo  ...       23          28  12940
195         -1                74       volvo  ...       23          28  13415
196         -2               103       volvo  ...       24          28  15985
197         -1                74       volvo  ...       24          28  16515
198         -2               103       volvo  ...       17          22  18420
199         -1                74       volvo  ...       17          22  18950
200         -1                95       volvo  ...       23          28  16845
201         -1                95       volvo  ...       19          25  19045
202         -1                95       volvo  ...       18          23  21485
203         -1                95       volvo  ...       26          27  22470
204         -1                95       volvo  ...       19          25  22625

[15 rows x 26 columns]

# <b>Problem 4 : You need to clean the data a little bit now. Replace all column values with the values <code>?</code> and <code>n.a</code> with <code>NaN</code>

In [ ]:
# Your code here
df = df.replace(r'?', np.NaN)                                                   # replacing ? mark With np.nan
df = df.replace(r'n.a', np.NaN)                                                  # replacing n.a With np.nan

In [ ]:
df.info()         # checking updated types of values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

# <b>Problem 5 : Print the company name which manufactured the most expensive car. Also print the price of the most expensive car

In [ ]:
# Your code here
id_max_car_price = df['price'].fillna(0).astype('int32').argmax()                 # index for highest value to not to evalute values with nan setting them to 0 to perform operation
max_car_price = df['price'].fillna(0).astype('int32').max()                       # finding maximum price of car

In [ ]:
print(f'Most expensive car is by {df["make"][id_max_car_price]} which costs {max_car_price}')

Most expensive car is by mercedes-benz which costs 45400

# <b>Problem 6 : Calculate maximum horsepowers for each company. </b>

In [ ]:
df.groupby(["make"]).agg({'horsepower':max}).reset_index()

             make horsepower
0     alfa-romero        154
1            audi        160
2             bmw        182
3       chevrolet         70
4           dodge         88
5           honda         86
6           isuzu         90
7          jaguar        262
8           mazda         84
9   mercedes-benz        184
10        mercury        175
11     mitsubishi         88
12         nissan         97
13         peugot         97
14       plymouth         88
15        porsche        288
16        renault        NaN
17           saab        160
18         subaru         94
19         toyota         92
20     volkswagen         90
21          volvo        162

# <b> Problem 7 : Print the total number of cars manufactured by each company

In [ ]:
# Your code here
cars_manufactured = df['make'].value_counts()
cars_manufactured                                          # count of cars by each manufactureer

toyota           32
nissan           18
mazda            17
honda            13
mitsubishi       13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
plymouth          7
audi              7
saab              6
porsche           5
isuzu             4
chevrolet         3
alfa-romero       3
jaguar            3
renault           2
mercury           1
Name: make, dtype: int64

# <b> Problem 8 : Create a new column for the updated price. This updated price will be calculated on top of the given price - if the engine is in front, price will be same else if the engine is in rear, price will be doubled </b>

In [ ]:
# Your code here. Use apply and lambda
def check_engine(engine,price):
    """Dobble the price for rear typed engine cars"""
    if engine=='front':
        return 1*price
    else:
        return 2*int(price)


df['updated price'] = df.apply(lambda x: check_engine(x['engine-location'],x['price']),axis=1)# apply function to make changes

In [ ]:
df[df['engine-location']=="rear"]

     symboling normalized-losses     make  ... highway-mpg  price updated price
126          3               NaN  porsche  ...          25  32528         65056
127          3               NaN  porsche  ...          25  34028         68056
128          3               NaN  porsche  ...          25  37028         74056

[3 rows x 27 columns]

# <b>Problem 9 : Sort the dataframe by car and price columns

In [ ]:
# Your code here

df.sort_values(['make','price'], inplace=True)   #just sorting the car name and there prices

In [ ]:
df.head()

   symboling normalized-losses         make  ... highway-mpg  price updated price
0          3               NaN  alfa-romero  ...          27  13495         13495
1          3               NaN  alfa-romero  ...          27  16500         16500
2          1               NaN  alfa-romero  ...          26  16500         16500
3          2               164         audi  ...          30  13950         13950
5          2               NaN         audi  ...          25  15250         15250

[5 rows x 27 columns]

# <b> Problem 10 : Create a new column which stores the number of doors in a car as integers.

In [ ]:
# Your code here. Use apply
print(df['num-of-doors'].value_counts())
def string_to_int(no_of_doors):
    """Converts the string no of doors to integer value"""
    if no_of_doors== 'four':
        no_of_doors=4
        return no_of_doors
    else:
        no_of_doors=2
        return no_of_doors

df['num-of-doors'] = df.apply(lambda x: string_to_int(x['num-of-doors']),axis=1)

four    114
two      89
Name: num-of-doors, dtype: int64

In [ ]:
print(df['num-of-doors'].value_counts())

4    114
2     91
Name: num-of-doors, dtype: int64

# <b>Problem 11 : Concatenate the two data frames given below firstly row wise and secondly column wise.</b>

<code>GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}</code>

<code>japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}</code>

In [ ]:
# Your code here
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}

japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}

In [ ]:


df_GermanCars = pd.DataFrame(GermanCars)
df_japaneseCars = pd.DataFrame(japaneseCars)

In [ ]:
pd.concat([df_GermanCars, df_japaneseCars],axis=1)    #row wise

    Company   Price      Company  Price
0      Ford   23845       Toyota  29995
1  Mercedes  171995        Honda  23600
2       BMV  135925       Nissan  61500
3      Audi   71400  Mitsubishi   58900

In [ ]:
pd.concat([df_GermanCars, df_japaneseCars])  #column wise

       Company   Price
0         Ford   23845
1     Mercedes  171995
2          BMV  135925
3         Audi   71400
0       Toyota   29995
1        Honda   23600
2       Nissan   61500
3  Mitsubishi    58900